// USER VARIABLES SECTION
$accentColor: #515855; // Accent Color
$accentSecondColor: #d0c3b0; // Accent Second Color
$accentThirdColor: #777777; // Accent Third Color
$mainColor: #fff; // Body Background Color
$fontSize: 10px; // Body Font Size
$textColor: #080508; // Text Color
$textSecondColor: #515855; // Text Color
$textThirdColor: #777777; // Text Color

$lineHeight: 1.65; // Document Line Height
$userFont: CeraPro, sans-serif; // User Font Family
$userAltFont: Cormorant, sans-serif; // User Font Family

$systemFont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$maxWidth: 1920;
$maxWidthContainer: 1300;

// ZEROING SECTION
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  scrollbar-color: #363130 #f2f2f2;
  scrollbar-width: thin;

  &::before,
  &::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: #363130 #f2f2f2;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      cursor: pointer;
      width: 0.5rem;
      background: #f2f2f2;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background: #363130;

      border-radius: 0.1rem;
      -webkit-border-radius: 0.1rem;
      -moz-border-radius: 0.1rem;
      -ms-border-radius: 0.1rem;
      -o-border-radius: 0.1rem;
      transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -ms-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
    }

    &::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
      background: #878686;
    }
  }

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 0.5rem;
    background: #f2f2f2;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #363130;

    border-radius: 0.1rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    -ms-border-radius: 0.1rem;
    -o-border-radius: 0.1rem;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: #878686;
  }
}

*:focus {
  outline: 0;
  // opacity: 0.5;
  // @include _transition(all, 0.5s);
}

// GENERAL DOCUMENT STYLES
html {
  font-size: $fontSize;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  height: 100%;

  @media only screen and(max-width:1024px) {
    &::-webkit-scrollbar {
      display: none;
      cursor: pointer;
      width: 0rem;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
      width: 0;
      background: transparent;
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
  }
}

@-ms-viewport {
  width: device-width;
}

body {
  font-family: $userFont;
  font-size: $fontSize;
  line-height: $lineHeight;
  background: $mainColor;
  color: $textColor;
  min-width: 320px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow-x: hidden;

  &.--fixed {
    width: 100%;
    overflow: hidden;
  }
}

footer,
header,
section,
.section {
  width: 100%;
  display: flex;
  .--fixed & {
    filter: blur(10px);
  }
}
.wrapper {
  max-width: 1650px;
  width: calc(100% - 80px);
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media only screen and (min-width: 1680px) {
    width: 100%;
  }

  @media only screen and (max-width: 1024px) {
    width: calc(100% - 55px);
  }

  @media only screen and (max-width: 600px) {
    width: calc(100% - 30px);
  }
}
.img {
  //.img--full
  &--fullW {
    width: 100%;
    height: auto;
  }
  // .img--center
  &--center {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  // .tab__container
  &__container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  // .tab__content
  &__content {
    max-height: 0;
    overflow: hidden;
    @include _transition(all, 0.35s);

    &.--active {
      max-height: unset;
    }
  }

  // .tab__wrapper
  &__wrapper {
    opacity: 0;
    @include _transition(all, 0.35s);
    transform: translate(0, -100%);

    .--active > & {
      opacity: 1;
      transform: translate(0, 0%);
    }
  }
}

input,
textarea {
  @include _transition(all, 0.5s);
  @extend .p;
  // @include _borderRadius(5px);
  @include _borderRadius(0);
  padding: 10px;
  // height: 35px;
  border: none;
  // background: #060b0d;
  color: $textColor;

  &:focus:required:invalid {
    border-color: rgb(85, 0, 0);
  }

  &:required:valid {
    border-color: rgb(14, 75, 14);
  }

  &::-webkit-input-placeholder {
    @include _transition(all, 0.2s);

    transform-origin: 100% 0;
  }

  &::-moz-placeholder {
    transform-origin: 100% 0;
  }

  &:-ms-input-placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &::-ms-input-placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &::placeholder {
    @include _transition(all, 0.2s);
    transform-origin: 100% 0;
  }

  &:active,
  &:focus {
    &::-webkit-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::-moz-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &:-ms-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::-ms-input-placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &::placeholder {
      opacity: 0;
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }
  }
}

textarea {
  resize: none;
}
textarea {
  height: 150px;
}
// .arrow
.arrow {
  position: relative;
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 2px;
    @include _transition(all, 0.35s);
    background-color: $textSecondColor;
  }

  &::before {
    right: 0px;
    transform: rotate(-45deg);
  }

  &::after {
    left: 0px;
    transform: rotate(45deg);
  }

  .open &::before,
  .active &::before {
    right: 1px;
    transform: rotate(45deg);
  }

  .open &::after,
  .active &::after {
    left: 1px;
    transform: rotate(-45deg);
  }

  // .arrow--menu
  &--menu {
    // transform: scale(1, -1);
  }
}

// .triangle
.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid $textColor;
  border-bottom: 0px solid transparent;
  @include _transition(all, 0.5s);

  .open &,
  .active & {
    border-top: 0px solid transparent;
    border-bottom: 10px solid $textColor;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  // padding-top: 105px;
}
.page {
  &-product {
    // .page-product-card {
    &-card {
      @include adaptive(padding-top, 30, 20, 0);
    }
  }
}
ol {
  list-style: none;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: -10px;
  flex-wrap: wrap;
  width: 100%;

  @media only screen and (min-width: 800px) {
    margin: get-vw(-10px);
  }
}

.coll {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: 10px;

  @media only screen and (min-width: 800px) {
    width: 100%;
    @include coll(2, 20px);
    margin: get-vw(10px);
  }
}

::placeholder {
  color: $textColor;
}

::selection {
  background-color: $accentColor;
  color: #fff;
}

label {
  cursor: pointer;
}

input[type="button"],
input[type="submit"],
button {
  @extend .p;
  border: none;
  cursor: pointer;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.btn {
  // @include _borderRadius(5px);
  @include _transition(all, 0.35s);
  line-height: 0;
  display: flex;
  padding: 5px;
  @include adaptive(max-width, 180, 180, 0);
  width: 100%;
  @include adaptive(height, 50, 35, 0);
  align-items: center;
  justify-content: center;
  background: $accentColor;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-transform: uppercase;

  &::before,
  &::after {
    @include _transition(all, 0.35s);
    position: absolute;
    display: block;
    content: "";
    height: 100%;
    left: 0;
  }

  &::before {
    background: $accentColor;
    z-index: -1;
    width: 100%;
    top: 0;
  }

  &::after {
    // @include _borderRadius(5%);
    top: 50%;
    background: $accentSecondColor;
    z-index: -1;
    width: 0;

    transform: translate(0, -50%);
  }
  // .btn-active {
  &-active {
    background: $mainColor;
    color: $accentColor;
    border: 1px solid $accentColor;

    &::before {
      background: $mainColor;
    }
    .blink {
      background: rgba($accentColor, 0.35);
    }
  }
  // .btn__title{
  &__title {
    text-transform: uppercase;
    @include adaptive(margin-left, 10, 5, 0);
  }
  &:hover {
    // background: $accentSecondColor;

    &::after {
      // width: 400px;
      // height: 400px;
      // opacity: 1;
    }
  }
}
.blink {
  position: absolute;
  @include _transition(all, 0.35s);
  display: block;
  background: rgba($mainColor, 0.35);
  @include _borderRadius(50%);
  animation-name: fullSize;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.t,
h {
  @for $i from 1 through 6 {
    &#{$i} {
      font-family: $userAltFont;
      margin: 0;
      padding: 0;
      line-height: 134%;
      position: relative;
      z-index: 1;
      font-weight: normal;
    }
  }

  &1 {
    @include adaptive(font-size, 40, 22, 0);
  }

  &2 {
    @include adaptive(font-size, 30, 20, 0);
  }

  &3 {
    @include adaptive(font-size, 24, 18, 0);
  }

  &4 {
    @include adaptive(font-size, 20, 16, 0);
  }

  &5 {
    @include adaptive(font-size, 18, 15, 0);
  }

  &6 {
    @include adaptive(font-size, 16, 12, 0);
  }
}

p,
a,
li,
.p,
label {
  line-height: 1.35;
  @include adaptive(font-size, 18, 14, 0);
}

.section {
  @include adaptive(padding-top, 100, 55, 0);

  // section__title {
  &__title {
    @extend .t1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    position: relative;

    &.__center {
      text-align: center;
    }

    &.hr {
      &::before,
      &:after {
        content: "";
        display: inline-block;
        width: 100%;
        @include adaptive(max-width, 350, 250, 0);
        height: 1px;
        opacity: 0.2;
        background: $textColor;
      }
    }
  }
}

.animate {
  @include _transition(all, 0.56s);
  opacity: 0;
  transform: translate(0, 200px);

  &.__show {
    opacity: 1;
    transform: translate(0, 0%);
  }
}

.breadcrumbs {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // .breadcrumbs__list {
  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  // /breadcrumbs__item {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      min-width: 10px;
      width: 10px;
      height: 10px;
      background-image: url("../img/icons/icon-arrow.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      order: 2;
      @include adaptive(margin-right, 15, 10, 0);
      @include adaptive(margin-left, 15, 10, 0);
    }
    &:last-child {
      &::before {
        display: none;
      }
      .breadcrumbs {
        &__link {
          color: $textColor;
        }
      }
    }
  }
  // .breadcrumbs__link {
  &__link {
    color: $textThirdColor;
    @include _transition(all, 0.25s);
    &:hover {
      color: $textColor;
    }
  }
}
.slider {
  &-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptive(height, 40, 20, 0);

    // .slider-control__btn {
    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include adaptive(width, 36, 26, 0);
      @include adaptive(min-width, 36, 26, 0);
      height: 100%;
      cursor: pointer;
      @include _transition(all, 0.35s);
      // height: 10px;

      &::before {
        content: "";
        display: inline-block;
        background-image: url("../img/icons/icon-slider-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
      }
    }

    // .slider-control__next {
    &__next {
      &::before {
        transform: rotate(180deg);
      }
      &:hover {
        transform: translate(10px, 0px);
      }
    }
    // .slider-control__prev {
    &__prev {
      &:hover {
        transform: translate(-10px, 0px);
      }
    }
  }

  // .slider-pagination {
  &-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $userAltFont;
    @include adaptive(font-size, 35, 20, 0);
    @include adaptive(margin-right, 30, 20, 0);
    @include adaptive(margin-left, 30, 20, 0);

    height: 100%;
    * {
      display: inline-flex;
      min-width: 15px;
    }
  }
}
.reset {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include adaptive(width, 25, 20, 0);
  @include adaptive(height, 25, 20, 0);
  right: 20px;
  @include _transition(all, 0.2s);
  opacity: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background: $textColor;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}
.input {
  border: 1px solid $accentThirdColor;
  @include adaptive(height, 50, 35, 0);
  &:active,
  &:focus {
    & ~ .reset {
      opacity: 1;
    }
  }
}
