.header {
  @include _transition(all, 0.5s);
  position: fixed;
  top: 0;
  z-index: 10;
  background: $mainColor;

  &::before {
    content: "";
    top: -110%;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0px 10px rgba($accentColor, $alpha: 0.5);
    background: $mainColor;
    @include _transition(all, 0.15s);
  }
  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: $textColor;
    opacity: 0.2;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    @include _transition(all, 0.15s);
  }
  // .header__wrapper
  &__wrapper {
    @extend .wrapper;
    @include adaptive(padding-top, 30, 15, 0);
    @include adaptive(padding-bottom, 30, 15, 0);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  // .header__logo {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptive(width, 130, 65, 0);
    @include adaptive(min-width, 130, 65, 0);
    @include adaptive(height, 30, 25, 0);
    @include adaptive(margin-right, 60, 30, 0);

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;
    }
  }
  // header__links {
  &__links {
    margin-left: auto;
    @include adaptive(margin-right, 20, 15, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  // .header__link {
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    @include adaptive(margin-right, 20, 15, 0);

    &:last-child {
      margin-right: 0;
    }
    // .header__link-icon {
    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      @include adaptive(width, 18, 10, 0);
      @include adaptive(min-width, 18, 10, 0);
      @include adaptive(height, 18, 10, 0);

      img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
  // header-select {
  &-select {
    // header-select-wrapper {
    &-wrapper {
      @include adaptive(max-width, 200, 190, 0);
      height: auto;
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
    &__trigger {
      padding-right: 10px;
      padding-left: 10px;
      border: none;
      &-title {
        @extend .t6;
        font-family: $userFont;
        color: $textSecondColor;
      }
    }
  }
  // .header-options {
  &-options {
    border: none;
  }
  // header-option {
  &-option {
    padding-right: 10px;
    padding-left: 10px;

    @extend .t6;
    font-family: $userFont;
  }
  // header-triangle {
  &-triangle {
    @include _transition(all, 0.1s);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $textSecondColor;
    border-bottom: 0 solid transparent;

    .open & {
      border-top: 0 solid transparent;
      border-bottom: 5px solid $accentColor;
    }
  }
  // .header.__scrolled {
  &.__scrolled {
    &::before {
      top: 0%;
    }
    &::after {
      transform: scale(1);
    }
  }
}
