doctype html
html(lang="ru")

  //head start
  include ./includes/mixins/head
  +head("Магазин профессиональной косметики в Минске, купить косметику в Беларуси")
  //head end

  body.--fixed.__loading
    //preloader start
    include ./includes/parts/other/preloader
    //preloader end

    //modal__search start
    include ./includes/parts/other/modal__search
    //modal__search end
    
    //header start
    include ./includes/parts/main/header
    //header end

    //page-main start
    main.main.page-product-card 
      .wrapper
        //breadcrumbs start
        include ./includes/mixins/breadcrumbs
        +breadcrumbs([
          [
            "Каталог",
            "#page-catalog"
          ],
          [
            "Волосы",
            "#page-catalog-hair"
          ],
          [
            "Бальзамы",
            "#page-catalog-balsam"
          ],
          [
            "Alfaparf Milano SDL Diamond Normal Hair Кондиционер придающий блеск для нормальных волос",
            "#"
          ]
          ])
        //breadcrumbs end
        
        //product-card-section start
        include ./includes/parts/sections/section-product-card
        //product-card-section end

        //related section start
        include ./includes/parts/sections/section-related
        //related section end

        //follow start
      include ./includes/parts/sections/section-follow
        //follow end

    //page-main end
    
    //footer start
    include ./includes/parts/main/footer
    //footer end

    include ./includes/parts/other/modal__form
    include ./includes/parts/other/modal__img
    include ./includes/parts/other/scripts
