section.section.related-section
  .related-row.animate.scroll
    h2.section__title.related-section__title также покупают
    .slider-control.related-slider__control
      span.slider-control__btn.slider-control__prev.related-slider__prev
      .slider-pagination.related-pagination
      span.slider-control__btn.slider-control__next.related-slider__next
  .related-slider.swiper-container.animate.scroll
    .related-slides.swiper-wrapper
      include ./../../mixins/related-slide
      +related-slide(
        "./img/products/product__image-1.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для жирных волос s1")
      +related-slide(
        "./img/products/product__image-2.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для профилактики выпадения и активации роста новых волос C1")
      +related-slide(
        "./img/products/product__image-3.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ")
      +related-slide(
        "./img/products/product__image-4.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос")
      +related-slide(
        "./img/products/product__image-1.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для жирных волос s1")
      +related-slide(
        "./img/products/product__image-2.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для профилактики выпадения и активации роста новых волос C1")
      +related-slide(
        "./img/products/product__image-3.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ")
      +related-slide(
        "./img/products/product__image-4.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос")
      +related-slide(
        "./img/products/product__image-1.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для жирных волос s1")
      +related-slide(
        "./img/products/product__image-2.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для профилактики выпадения и активации роста новых волос C1")
      +related-slide(
        "./img/products/product__image-3.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ")
      +related-slide(
        "./img/products/product__image-4.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос")
      +related-slide(
        "./img/products/product__image-1.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для жирных волос s1")
      +related-slide(
        "./img/products/product__image-2.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для профилактики выпадения и активации роста новых волос C1")
      +related-slide(
        "./img/products/product__image-3.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ")
      +related-slide(
        "./img/products/product__image-4.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос")
      +related-slide(
        "./img/products/product__image-1.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для жирных волос s1")
      +related-slide(
        "./img/products/product__image-2.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES активный шампунь для профилактики выпадения и активации роста новых волос C1")
      +related-slide(
        "./img/products/product__image-3.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "Nouvelle Extreme Gel Гель для укладки волос сильной фиксации ")
      +related-slide(
        "./img/products/product__image-4.png",
        "bes",
        "21 BYN",
        "28 BYN",
        "BES Бальзам для увлажнения и облегчения расчесывания вьющихся волос")
      