section.section.product-card__section
  h2.product-card__title.__mobile.animate Alfaparf Milano SDL Diamond Normal Hair Кондиционер придающий блеск для нормальных волос
  include ./../../mixins/picture
  +picture(
    "./img/products/current-product.png",
    "Alfaparf Milano SDL Diamond Normal Hair Кондиционер придающий блеск для нормальных волос",
    "product-card",
    "show-modal",
    "animate")
  article.product-card-description.animate
    .product-card-info
      .product-card-info__brand
        span.product-card-info__brand-title Бренд: 
        a.product-card-info__brand-link(href="#") Alfaparf 
      p.product-card-info__art Артикул: 893900272      
    h2.product-card__title Alfaparf Milano SDL Diamond Normal Hair Кондиционер придающий блеск для нормальных волос
    .product-card__size
      a.product-card__size-item.__clicked(href="#") 100 мл
      a.product-card__size-item(href="#") 50 мл
    #price.product-card__price 107.10 BYN
    .product-card__btns
      .product-card__counter 
        button.product-card__counter-btn.inc.__disable
        .product-card__counter-number 1
        button.product-card__counter-btn.add 
      button.btn.product-card__btn.product-card__order-btn 
        span.btn__title.product-card__btn-title быстрая покупка
      button.btn.btn-active.product-card__btn.product-card__cart-btn
        i.btn__icon.product-card__btn-icon
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-cart.png",
            "в корзину")
        span.btn__title.product-card__btn-title в корзину
      button.btn-active.product-card__btn.product-card__favorite-btn.btn
        i.btn__icon.product-card__btn-icon
          include ./../../mixins/img-NL
          +img(
            "./img/icons/icon-favorites.png",
            "в избранное")
    .collapsible.product-card__collapsible 
      span.arrow.product-card__collapsible-arrow
      h3.product-card__collapsible-title Описание
    .collapsible__content.product-card__collapsible-content
      .collapsible__content-wrapper.product-card__collapsible-content__wrapper
        p Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.
    .collapsible.product-card__collapsible 
      span.arrow.product-card__collapsible-arrow
      h3.product-card__collapsible-title Доставка
    .collapsible__content.product-card__collapsible-content
      .collapsible__content-wrapper.product-card__collapsible-content__wrapper
        p Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.
    .collapsible.product-card__collapsible 
      span.arrow.product-card__collapsible-arrow
      h3.product-card__collapsible-title Обмен и возврат
    .collapsible__content.product-card__collapsible-content
      .collapsible__content-wrapper.product-card__collapsible-content__wrapper
        p Кондиционер превосходно кондиционирует и распутывает волосы. Придает ослепительный блеск без утяжеления. Идеально сбалансированная формула и оригинальная концентрация активных ингредиентов в составе обеспечивают волосы правильным количеством элементов, необходимых для того, чтобы день за днем ваши волосы выглядели превосходно! Входящий в состав мультивитаминный комплекс наполняет волосы жизненной силой. Содержит ненасыщенные жирные кислоты Омега-3 и Омега-6. Не содержит сульфатов, парабенов, парафиновых и минеральных масел. Активные ингредиенты: мультивитаминный комплекс, Омега-3, Омега-6. Способ применения: после использования шампуня Illuminating Low Shampoo нанести кондиционер на влажные волосы, равномерно распределив по всей длине. Оставить на одну-две минуты. Тщательно смыть водой.
