mixin breadcrumbs(levels)
  
  nav.breadcrumbs.animate(aria-label="breadcrumb")
    .container
      ul.breadcrumbs__list(itemscope itemtype="http://schema.org/BreadcrumbList")

        each item, index in levels
          - var count = index+1
          - var name = item[0]
          - var link = item[1] || null

          li.breadcrumbs__item(itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem")
            if link
              a.breadcrumbs__link(
                itemprop="item",
                href=link)
                span(itemprop="name") #{name}
            else
              span(itemprop="name") #{name}

            if count < levels.length
              i(aria-hidden="true")
              
//- Usage:
//- +breadcrumb([['Homepage', '/index.html'], ['Child page']])